POSTGRES_USER=ffwpu
POSTGRES_PASSWORD=ffwpu_password
POSTGRES_DB=ffwpu

DIRECTUS_KEY=replace-with-random-key
DIRECTUS_SECRET=replace-with-random-secret
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=admin1234

MEILI_MASTER_KEY=replace-with-meili-key
